body {
  font-size: .9rem;
}
nav {
 font-size: .8em;
}
p {
  margin: 0;
}
h1 {
  margin: 1px;
  text-align: center;
}
caption {
  text-align: left;
}
td {
  text-align: center;
}
button, input[type="submit"], input[type="reset"] {
  background-color: #5e68df;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  margin: 1px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
}
/* Darker background on mouse-over */
button:hover:enabled, input[type="submit"]:hover:enabled, input[type="reset"]:hover:enabled {
  background-color: #274CE0;
  font-weight: bold;
}
button:disabled, input[type="submit"]:disabled, input[type="reset"]:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
div.center {
  margin: 0 auto;
}
a:focus {
  outline: .1rem solid black;
}
/* Darker background on mouse-over */
button:hover {
  background-color: #274CE0;
}
#modeDisplay {
  color: green;
  text-align: center;
}
#messages {
  color: blue;
}
#errors {
  color: red;
}
#seasonInfo {
  text-align: center;
}
#header {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}
#selectedTournamentText {
  font-size: .85rem;
}
.errors {
  border: 1px solid red !important;
  color: red;
}
.messages {
  color: blue;
}
.number {
  text-align: right;
}
.positive {
   color: #009900;
   font-weight: bold;
 }
.negative {
  color: #FF0000;
  font-weight:bold;
}
.center {
  text-align: center;
}
.hide {
  display: none;
}
.hidden {
  visibility: hidden;
}
.highlight {
  background-color: yellow !important;
}
.footer {
  clear: both;
  padding-top: 5px;
  text-align: center;
  width: 100%;
}
.textAlignUnset {
 text-align: unset;
}
/* Inserting this collapsed row between two flex items will make the flex item that comes after it break to a new row */
.break {
  flex-basis: 100%;
  height: 0;
}
.bold {
 font-weight: bold;
}
.boldUnderline {
 font-weight: bold;
 text-decoration: underline;
}
.boldHeader {
 font-size: 1.1em;
 font-weight: bold;
}
.title {
  font-weight: bold;
}
.fixedWidth {
  font-family: monospace;
}
.button-icon {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  font-weight: 700;
  outline: none;
  padding: 0px 8px 0px 35px;
  position: relative;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  /*display: flex;
   justify-content: space-around;
   align-items: center;*/
}
.button-icon:after {
  content: '';
  position: absolute;
  transition: all 0.3s;
  z-index: -1;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.button-icon:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  position: relative;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}
.button-icon-separator:before {
  background: rgba(0,0,0,0.15);
}
.button-icon {
  background: #3498db;
  color: #fff;
}
/*.button-icon:hover {
  background: #274CE0;
}*/
.button-icon:active {
  background: #2980b9;
  top: 2px;
}
.button-icon:before {
  /*height: 100%;*/
  left: 0;
  line-height: 1.1;
  position: absolute;
  top: 0;
  width: 30px;
}
.icon-border-caret-right:before {
  content: "\f152";
}
.fa-caret-left, .fa-caret-right {
  padding-left: 2px;
  padding-right: 2px;
  vertical-align: super;
}
@media all and (max-width: 600px) {
  .button-icon:before {
    line-height: 1.3;
  }
}