@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
body {
  font-size: .9rem;
}
nav {
 font-size: .8em;
}
#main-menu {
 float: left;
}
#modeDisplay {
  color: green;
  text-align: center;
}
/*#messages {*/
#messages, .messages {
  color: blue;
}
#errors, .errors {
  color: red;
}
.number {text-align: right;}
.positive {color:#009900; font-weight:bold;}
.negative {color:#FF0000; font-weight:bold;}
/*.errors {border-color: red;}*/
.errors {border: 1px solid red !important;}
p {
  margin: 0;
}
h1 {
  margin: 1px;
  text-align: center;
}
.center {
  text-align: center;
}
.hide {
 display: none;
}
.hidden {
 visibility: hidden;
}
fieldset {border:0;}
/*.ui-dialog .ui-dialog-titlebar {
  font-size: .7em;
  padding: .4em 0;
}*/
table.override30 {
  margin: 0;
  width: 30%;
}
table.override40 {
  margin: 0;
  width: 40%;
}
table.override50 {
  margin: 0;
  width: 50%;
}
table.override60 {
  margin: 0;
  width: 60%;
}
table.override70 {
  margin: 0;
  width: 70%;
}
table.override90 {
  margin: 0;
  width: 90%;
}
/*table.dataTable.display tbody tr.inactive,
table.dataTable.display tbody tr.inactive > .sorting_1,
table.dataTable.display tbody tr.inactive > .sorting_2 {
 background-color: #ffe6e6;
}*/
.highlight {
  background-color: yellow !important;
}
.form_content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 5px;
}
caption {
 text-align: left;
}
#seasonInfo {
  text-align: center;
}
#header {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}
.footer, .footerMini, .footerSmall, .footerMedium, .footerLarge {
  /*flex-shrink: 0;
  padding: 10px;*/
  /*position: fixed;
  left: 0;
  bottom: 0;*/
  clear: both;
  padding-top: 5px;
  text-align: center;
  width: 100%;
}
td {
  text-align: center;
}
.textAlignUnset {
 text-align: unset;
}
/* Inserting this collapsed row between two flex items will make the flex item that comes after it break to a new row */
.break {
  flex-basis: 100%;
  height: 0;
}
.bold {
 font-weight: bold;
}
.boldUnderline {
 font-weight: bold;
 text-decoration: underline;
}
.boldHeader {
 font-size: 1.1em;
 font-weight: bold;
}
div.center {
 margin: 0 auto;
}
a:focus {
  outline: .1rem solid black;
}
.title {
  font-weight: bold;
}
button, input[type="submit"], input[type="reset"] {
  background-color: #5e68df;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  /*font-size: 1.2rem;
  margin: 4px 2px;*/
  margin: 1px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
}
/* Darker background on mouse-over */
button:hover:enabled, input[type="submit"]:hover:enabled, input[type="reset"]:hover:enabled {
  background-color: #274CE0;
  font-weight: bold;
}
button:disabled, input[type="submit"]:disabled, input[type="reset"]:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
#selectedTournamentText {
  font-size: .85rem;
}
/*#info {
  text-align: center;
}*/