body {
  max-width: 900px;
}
#tournamentId {
  width: 700px;
}
.responsive--2cols > .responsive-cell-label {
  width: 50%;
}
.responsive--2cols > .responsive-cell-value {
  width: 50%;
}
.responsive--3cols > .responsive-cell-label {
  width: 10%;
}
.responsive--3cols > .responsive-cell-value {
  width: 80%;
}
.responsive--3cols > .responsive-cell-button {
  width: 10%;
}