.responsive--3cols > .responsive-cell-label {
  width: 9%;
}
.responsive--3cols > .responsive-cell-value {
  width: 72%;
}
.responsive--3cols > .responsive-cell-button {
  width: 19%;
}
.responsive--3cols > .responsive-cell-label-footer {
  width: 15%;
}
.responsive--3cols > .responsive-cell-value-footer {
  width: 7%;
}
.responsive--3cols > .responsive-cell-value-after-footer {
  width: 78%;
}
body {
  max-width: 1120px;
}