ul.drop-nav, ul.submenu {
 padding: 0;
 margin: 0;
 list-style: none;
}
.drop-nav li {
 position: relative;
 float: left;
 z-index: 99999;
}
.drop-nav li > ul {
 position: absolute;
 left:-999em;
 /*width:100%;*/
 width:180px;
 top:0;
 transition:top .5s ease;
}
.drop-nav ul ul {
 transition:transform .5s ease, opacity .3s ease;
 transform:translateX(0);
 opacity:0;
}
.drop-nav a {
 display: block;
 background: #f3f3f3;
 padding: 5px 10px 5px 10px;
 text-decoration: none;
 white-space: nowrap;
 color: #666666;
 border: 1px solid #fff;
 line-height:1.2em;
}
.drop-nav a:hover {
 background: #ccc;
}
.drop-nav li:hover > ul {
 left:0;
 top:100%;
}
.drop-nav li li:hover > ul {
 left:0;
 transform:translateX(100%);
 top:0;
 opacity:1;
/* height: 200px;
 overflow: hidden;
 overflow-y: scroll;*/
}
.drop-nav ul li {
 float: none;
}
.drop-nav li:hover > a {
 background: #ccc;
}
ul.submenu {
  list-style: none;
	height: 600px;
  width: 250px;
}
/*.drop-nav li li:hover > ul.submenusub {
 left:0;
 transform:translateX(100%);
 top:0;
 opacity:1;
	height: 200px;
 overflow: hidden;
 overflow-y: scroll;
}*/