table {
  margin: auto;
}
.dataTables_filter {
  float: unset !important;
}
.dataTables_info {
  float: unset !important;
  margin: 0 auto;
}
/* Variables
================================== */
/* Tables
================================== */
.responsive {
  display: flex;
  flex-wrap: wrap;
  /*margin: 0 0 3em 0;*/
  margin: 0;
  padding: 0;
}
.responsive-cell {
  /*background: rgba(112, 128, 144, 0.2);*/
  /*border: solid 3px white;*/
  box-sizing: border-box;
  flex-grow: 1;
  list-style: none;
  overflow: hidden;
  padding: 0.2em 0.2em;
  width: 100%;
}
.responsive-cell > h1,
.responsive-cell > h2,
.responsive-cell > h3,
.responsive-cell > h4,
.responsive-cell > h5,
.responsive-cell > h6 {
  margin: 0;
}
/* Table column sizing
================================== */
.responsive--2cols > .responsive-cell-label {
  width: 50%;
}
.responsive--2cols > .responsive-cell-value {
  width: 50%;
}
.responsive--3cols > .responsive-cell-label {
  width: 10%;
}
.responsive--3cols > .responsive-cell-value {
  width: 83%;
}
.responsive--3cols > .responsive-cell-button {
  width: 7%;
}
.responsive--4cols > .responsive-cell {
  width: 25%;
}
.responsive--5cols > .responsive-cell {
  width: 20%;
}
.responsive--6cols > .responsive-cell {
  width: 16.6%;
}
html {
  height: 100%;
  background-color: #EEE;
}
body {
  background-color: white;
  border: double 3px #DDD;
  border-bottom: none;
  border-top: none;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  /*font-size: 1.2em;*/
  margin: 0 auto;
  max-width: 800px;
  min-height: 100%;
  padding: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}
.responsive {
  left: 3px;
  position: relative;
  top: 3px;
}
.responsive-cell {
  background-color: white;
  border-color: #e2e6e9;
  margin: -3px 0 5px -3px;
}
.responsive-cell--head {
  background-color: #74828F;
  /*border-color: #5a6673;*/
  color: white;
}
.responsive-cell--head > h1,
.responsive-cell--head > h2,
.responsive-cell--head > h3,
.responsive-cell--head > h4,
.responsive-cell--head > h5,
.responsive-cell--head > h6 {
  color: white;
}
@media all and (max-width: 600px) {
  body {
    max-width: unset;
  }
  .responsive-cell-empty {
    display: none;
  }
  /*.responsive--collapse {
    display: block;
  }*/
  /*.responsive--collapse > .responsive-cell {
    width: 100% !important;
  }*/
  .responsive--collapse > .responsive-cell--foot {
    margin-bottom: 1em;
  }
}
.no-flexbox .responsive {
  display: block;
}
.no-flexbox .responsive > .responsive-cell {
  width: 100%;
}
.no-flexbox .responsive > .responsive-cell--foot {
  margin-bottom: 1em;
}